body {
    background-color: #F0F0F0;
}

li{
    text-decoration: none;
    list-style-type: none;
}
ul{
    background-color: #F0F0F0;
    display: flex;
    justify-content: right;
    column-gap: 25px;
    flex-wrap: wrap;
}
.container{
    max-width: 1300px;
    padding: 0 27px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
li a {
    font-size: 16px;
    color: #161616;
    text-decoration: none;
}
